{% extends 'aroma/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

<main class="site-main">

    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <h2> Searching for a book in <span class="section-intro__style">Library</span></h2>
                <form action="{% url 'library-search'%}" method="post">
                    {% csrf_token %}

                    {% for field in form%}
                        <div class="form-group">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{field.errors}}
                                </div>

                            {% endif %}

                            {{ field.label }}
                            {{ field }}
                        </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            {% if query %}
            <div class="container">
                <p>Search query: {{ query }}</p>
            </div>
            {% endif %}

        </div>
    </section>
    <!-- ================ trending product section end ================= -->




</main>

{% endblock %}